/* color hsl(157, 84%, 46%) */

/* html {
    visibility: hidden;
}

html.wf-active {
    visibility: visible;
} */

body {
  background-color: rgb(246, 246, 246);
  font-size: 20px;
  margin: 0 auto 0 auto;
  color: #2f2f2f;
  font-family: vdl-megamaru, sans-serif;
}

h2 {
  text-align: center;
  color: #2f2f2f;
  font-size: 40px;
  line-height: 0px;
}

.container {
  width: auto;
  margin: auto;
}

#stage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  perspective: 100px;
  width: 220px;
  height: 130px;
  margin: 5px;
  perspective: none;
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: relative;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 130px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Safari */
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card-back {
  font-size: 25px;
  background: #fff;
  color: #2f2f2f;
  border: solid 0px rgb(25, 115, 78);
}

.card-front {
  font-size: 20px;
  color: #fff;
  background-color: #13d88c;
  transform: rotateX(180deg);
  border: solid 0px rgb(200, 67, 10);
}

.open {
  transform: rotateX(180deg);
}

.toptitle {
  font-size: 12px;
  color: #2f2f2f;
  text-align: right;
  margin-top: 5px;
  margin-right: 10px;
}

.time {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 50px;
  color: #13d88c;
}

/* .card-front.type-number11,
.card-front.type-number12 {
  font-size: 18px;
}

.card-front.type-number17,
.card-front.type-number18 {
  font-size: 15px;
} */

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 150%;
  }
  .card-container {
    height: 100px;
  }
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
  }
  .card-back {
    font-size: 25px;
  }
  .card-front {
    font-size: 20px;
  }
  #restart {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.botton_wapper {
  margin-top: 0px;
}
#restart {
  text-decoration: none;
  display: block;
  color: #fff;
  border: solid 2px #d93514;
  background-color: #d93514;
  height: 40px;
  width: 40%;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

#restart.inactive {
  cursor: default;
  opacity: 0.4;
  box-shadow: none;
  margin-top: 10px;
}

/* モーダルCSSここから */

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.is-show {
  /* モーダル表示用クラス */
  visibility: visible;
  opacity: 1;
}

.modal2 {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.gamearea {
  filter: blur(4px);
}

.topmodal {
  position: fixed;
  height: 75%;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  max-width: 500px;
}

.topmodal2 {
  position: fixed;
  height: 30%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  max-width: 500px;
}

.modalWrapper {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 90%;
  max-width: 500px;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
}

.modalContents {
  width: 100%;
  height: 96%;
}

.result {
  position: relative;
  height: 100%;
  width: 100%;
}

.modalWrapper2 {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  top: 0px;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: auto;
  background-color: #fff;
}

.content {
  height: 100%;
  width: 100%;
  padding: 0px;
}
.content2 {
  text-align: center;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.content2 h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.modalTab {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 10%;
  width: 100%;
  max-width: 500px;
  padding: 0px;
  box-sizing: border-box;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.modalBottons {
  font-size: 18px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}
.startBtn {
  display: inline-block;
  color: #fff;
  border: solid 2px #d93514;
  background-color: #d93514;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
}
#startBtn {
  margin: 5px;
}

.modalRestart {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: solid 2px #d93514;
  background-color: #d93514;
  width: 48.5%;
  max-width: 172.5px;
  border-radius: 5px;
  line-height: 36px;
  text-align: center;
}

.returnTop {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #13d88c;
  border: solid 2px #13d88c;
  width: 48.5%;
  max-width: 172.5px;
  border-radius: 5px;
  line-height: 36px;
  text-align: center;

  /* left: 50%;
  transform: translate(-50%, 0%); */
}

.modalRestart:active {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}

.returnTop:active {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}

.tab {
  font-size: 0px;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  list-style: none;
  padding: 0px;
  background-color: none;
}

.tab li {
  box-sizing: border-box;
  font-size: 17px;
  background: #ccc;
  width: 1%;
  height: 100%;
  padding: 5px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.tab li.select {
  background: #eee;
}
#tab1 {
  border-radius: 0px 0px 0px 5px;
}
#tab2 {
  border-radius: 0px 0px 5px 0px;
}
.content li {
  list-style: none;
}

.content h3 {
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  line-height: 30px;
}

.resultName {
  font-size: 19px;
  margin: 0;
  text-align: center;
}
#ModalLevel {
  font-size: 29px;
  margin: 0;
  margin-top: -10px;
  text-align: center;
}
#ModalExplanation {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.resultTime p,
.resultRank p {
  font-size: 23px;
  margin-top: -10px;
  margin-bottom: 0px;
  text-align: center;
}

/* モーダルCSSここまで */

/*タイマーアニメーション*/

#score {
  display: inline-block;
}

.buruburu {
  animation-name: hurueru;
  animation-duration: 0.3s;
  color: rgb(200, 67, 10);
}

@keyframes hurueru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

table {
  font-size: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover {
  background-color: #d4f0fd;
}

table th,
table td {
  height: 28px;
  text-align: center;
  box-sizing: border-box;
  width: 40%;
}
.th1,
.td1 {
  width: 20%;
}

.ranking {
  position: absolute;
  top: 0px;
}

.swiper-container {
  width: 100%;
  height: 83.5%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.swiper-pagination {
  bottom: 5px !important ;
}

.swiper-pagination-bullet {
  width: 17px !important;
  height: 17px !important;
  text-align: center;
  line-height: 17px;
  font-size: 11px;
  color: #2f2f2f;
  background-color: #d1d1d1;
  opacity: 1;
  margin: 0 3px;
  bottom: 0px;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #007aff;
}

.hide {
  display: none;
  /* visibility: hidden; */
}

.hide2 {
  visibility: hidden;
}

#rainkingtop {
  width: 100%;
  height: 100%;
}

/* twitter */

.twitter {
  /* left: 50%;
  transform: translate(-50%, 0%); */
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.tweetbotton {
  color: #fff !important;
  text-decoration: none !important;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  max-width: 350px;
  background-color: #55acee;
  border: 2px solid #55acee;

  padding: 4px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  border-radius: 5px;
}

.tweetbotton:hover {
  background-color: #fff;
  color: #55acee;
}
