@media screen and (max-width: 705px) {
  h2 {
    font-size: 150%;
  }
  .card-container {
    width: 30%;
  }
  .card-back {
    font-size: 3.5vw;
  }
  .card-front {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    height: 100px;
  }
  .card-front,
  .card-back {
    box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 110%;
  }
  .card-container {
    perspective: 100px;
    height: 60px;
    margin: 2.8px;
    perspective: none;
  }
  .card-front {
    font-size: 3vw;
    /**/
  }
  .card-back {
    color: #2f2f2f;
    font-size: 3.3vw;
  }
  .card-front,
  .card-back {
    line-height: 60px;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
    /*2.7*/
  }
  .time {
    font-size: 18px;
    margin-top: -6px;
    margin-bottom: 0px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 380px) {
  .card-container {
    margin: 2.5px;
  }
}
@media screen and (max-width: 331px) {
  .tab li {
    font-size: 12px;
  }
  .content h3 {
    margin: 5px;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 18px;
  }
  table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .resultName {
    font-size: 17px;
    margin-bottom: -5px;
  }
  #ModalLevel {
    font-size: 28px;
    margin-top: -15px;
  }
  #ModalExplanation {
    font-size: 11px !important;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .resultTime p,
  .resultRank p {
    font-size: 19px;
    margin-top: -10px;
  }
}
@media screen and (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 17px !important;
    height: 17px !important;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    color: #2f2f2f;
    background-color: #d1d1d1;
    opacity: 1;
    margin: 0 2px !important;
    bottom: 0px;
  }
}

@media screen and (max-height: 720px) {
  table {
    font-size: 14px;
  }
  table th,
  table td {
    height: 25px;
  }
}

@media screen and (max-height: 660px) {
  .content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  table {
    font-size: 11px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table th,
  table td {
    height: 25px;
  }
  #ModalExplanation {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .resultTime p,
  .resultRank p {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
  }
}

@media screen and (max-height: 600px) {
  .card-container {
    perspective: 100px;
    height: 50px;
    margin: 2.8px;
    perspective: none;
  }
  .card-front,
  .card-back {
    line-height: 50px;
  }
  h2 {
    margin-top: 80px;
    margin-bottom: 5px;
  }
  .resultName {
    font-size: 17px;
    margin-bottom: -5px;
  }
  #ModalLevel {
    margin-top: -15px;
  }
  #ModalExplanation {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .resultTime p,
  .resultRank p {
    font-size: 19px;
    margin-top: -10px;
  }
}

@media screen and (max-height: 565px) {
  .StartMenu {
    top: 0%;
  }
  .content h3 {
    margin: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 19px;
  }
  table {
    font-size: 10px;
  }
  .swiper-pagination {
    bottom: 4px !important;
  }
  table th,
  table td {
    height: 22px;
  }
  .tab li {
    padding: 3px;
  }
}
@media screen and (max-height: 540px) {
  .content h3 {
    margin: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 18px;
  }
  .resultName {
    font-size: 16px;
    margin-bottom: -5px;
  }
  #ModalLevel {
    margin-top: -15px;
    margin-bottom: -5px;
  }
  #ModalExplanation {
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .resultTime p,
  .resultRank p {
    font-size: 17px;
    margin-top: -10px;
  }
  .tweetbotton {
    padding: 2px 0px;
  }
}
.swiper-container {
  height: 85% !important;
}
@media screen and (max-height: 530px) {
  .content h3 {
    margin: -5px;
    margin-bottom: 0px;
    line-height: 25px;
    font-size: 18px;
  }
  .swiper-container {
    height: 87% !important;
  }
}
