@media screen and (max-width: 760px) {
  .smalltitle {
    font-size: 20px;
  }
  .title h2 {
    font-size: 50px;
    line-height: 40px;
  }
}
@media screen and (max-width: 580px) {
  .smalltitle {
    font-size: 17px;
  }
  .title h2 {
    font-size: 40px;
    line-height: 36px;
  }
}

@media screen and (max-width: 480px) {
  .smalltitle {
    font-size: 16px;
    border-radius: 8px;
  }
  .title h2 {
    font-size: 32px;
    line-height: 30px;
  }
  .title h3 {
    margin-top: -5px;
  }
}
@media screen and (max-width: 370px) {
  .smalltitle {
    font-size: 15px;
    border-radius: 7px;
  }
  .title h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .title h3 {
    margin-top: -5px;
  }

  .tab li {
    font-size: 14px;
  }
  .fontlist {
    font-size: 12px;
  }
}
@media screen and (max-width: 331px) {
  .tab li {
    font-size: 12px;
  }
  .content h3 {
    margin: 5px;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 19px;
  }
  table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .fontlist {
    font-size: 10px !important;
  }
  .fontlist th,
  .fontlist td {
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .smalltitle {
    font-size: 15px;
    border-radius: 6px;
    padding: 4px;
  }
  .title h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .title h3 {
    margin-top: -5px;
  }
  .swiper-pagination-bullet {
    width: 17px !important;
    height: 17px !important;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    /* color: #2f2f2f; */
    background-color: #d1d1d1;
    opacity: 1;
    margin: 0 2px !important;
    bottom: 0px;
  }
}
@media screen and (max-height: 720px) {
  .StartMenu {
    top: 7%;
  }
  .title {
    margin-top: 70px;
  }
}
table {
  font-size: 13px;
}
table th,
table td {
  height: 25px;
}
.fontlist {
  font-size: 12px;
}

@media screen and (max-height: 660px) {
  .StartMenu {
    top: 5%;
  }
  .title {
    margin-top: 50px;
  }
  .title h3 {
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  table {
    font-size: 12px;
  }
  table th,
  table td {
    height: 25px;
  }
  .fontlist {
    font-size: 11px;
  }
  .fontlist th,
  .fontlist td {
    height: 23px;
  }
}

@media screen and (max-height: 600px) {
  .StartMenu {
    top: 4%;
  }
  .title {
    margin-top: 40px;
  }
  .title h3 {
    margin-top: -10px;
    margin-bottom: 5px;
  }
  table {
    font-size: 11px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table th,
  table td {
    height: 23px;
  }
  .fontlist {
    font-size: 10px;
  }
  .fontlist th,
  .fontlist td {
    text-align: left;
    height: 22px;
  }
}

@media screen and (max-height: 565px) {
  .title {
    margin-top: 35px;
  }
  .StartMenu {
    top: 3%;
  }
  .content h3 {
    margin: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 19px;
  }
  table {
    font-size: 10px;
  }
  table th,
  table td {
    height: 22px;
  }
  .fontlist {
    font-size: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .fontlist th,
  .fontlist td {
    text-align: left;
  }
  .swiper-pagination {
    bottom: 4px !important;
  }

  .fontlist th,
  .fontlist td {
    text-align: left;
    height: 21px;
  }
}
@media screen and (max-height: 540px) {
  .title {
    margin-top: 25px;
  }
  .StartMenu {
    top: 3%;
  }
  .content h3 {
    margin: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 18px;
  }
  table {
    font-size: 10px;
  }
  .fontlist {
    font-size: 10px;
  }
  .swiper-container {
    height: 85% !important;
  }
}
@media screen and (max-height: 530px) {
  .title {
    margin-top: 20px;
  }
  .content h3 {
    margin: -5px;
    margin-bottom: 0px;
    line-height: 25px;
    font-size: 18px;
  }
  .swiper-container {
    height: 87% !important;
  }
}
