@media screen and (max-width: 705px) {
  h2 {
    font-size: 150%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    text-align: center;
    margin-top: 100px;
  }
}
@media screen and (max-width: 331px) {
  .tab li {
    font-size: 12px;
  }
  .content h3 {
    margin: 5px;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 19px;
  }
  table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .fontlist {
    font-size: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .fontlist th,
  .fontlist td {
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
  }
  h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .swiper-pagination-bullet {
    width: 17px !important;
    height: 17px !important;
    text-align: center;
    line-height: 17px;
    font-size: 11px;
    color: #2f2f2f;
    background-color: #d1d1d1;
    opacity: 1;
    margin: 0 2px !important;
    bottom: 0px;
  }
}
@media screen and (max-height: 720px) {
  table {
    font-size: 11px;
  }
  table th,
  table td {
    height: 25px;
  }
  .fontlist {
    font-size: 12px;
  }
}
@media screen and (max-height: 660px) {
  .content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  table {
    font-size: 11px;
  }
  table th,
  table td {
    height: 25px;
  }
  .fontlist {
    font-size: 11px;
  }
  .fontlist th,
  .fontlist td {
    height: 23px;
  }
}

@media screen and (max-height: 600px) {
  h2 {
    margin-top: 80px;
  }
  table {
    font-size: 11px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table th,
  table td {
    height: 23px;
  }
  .fontlist {
    font-size: 10px;
  }
  .fontlist th,
  .fontlist td {
    text-align: left;
    height: 22px;
  }
}

@media screen and (max-height: 565px) {
  .StartMenu {
    top: 0%;
  }
  .content h3 {
    margin: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 19px;
  }
  table {
    font-size: 10px;
  }
  table th,
  table td {
    height: 22px;
  }
  .fontlist {
    font-size: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .fontlist th,
  .fontlist td {
    text-align: left;
  }
  .swiper-pagination {
    bottom: 4px !important;
  }

  .fontlist th,
  .fontlist td {
    text-align: left;
    height: 21px;
  }
}
@media screen and (max-height: 540px) {
  h2 {
    margin-top: 60px;
    margin-bottom: 5px;
  }
  .StartMenu {
    top: 0%;
  }
  .content h3 {
    margin: 0px;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 18px;
  }
  table {
    font-size: 10px;
  }
  .fontlist {
    font-size: 10px;
  }
  .swiper-container {
    height: 85% !important;
  }
}
@media screen and (max-height: 530px) {
  .content h3 {
    margin: -5px;
    margin-bottom: 0px;
    line-height: 25px;
    font-size: 18px;
  }
  .swiper-container {
    height: 87% !important;
  }
}
